## .NET
bin/
obj/
*.user
*.suo
*.sln.docstates
.vs/
*.DotSettings.user

## Logs
logs/
*.log

## Uploads
wwwroot/uploads/

## OS
.DS_Store
Thumbs.db

## IDE
.idea/
.vscode/
*.swp

## Secrets
appsettings.*.local.json
secrets.json
